profiles {
    standard {
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/CSP2_env"
        process.conda = "${projectDir}/conf/CSP2.yaml"        

        process.executor = 'slurm'
        params.cores = 48
        params.python_module = ""
        params.mummer_module = ""
        params.skesa_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
        params.trim_name = ""
    }
}
